<div class="search-product-holder">
    <ul>
    {% if products|length != 0%}
        {% for product in products %}
            {% if (product.getSlug() is not null)%}
                {% set productLink = product.getSlug() %}
            {% else %}
                {% set productLink = product.getId() %}
            {% endif %}
        <li class="product-box">
            <a href="{{path('frontend_product_homepage')}}p/{{productLink}}">
                <div class="left-side">               
                    {% if (product.getProductImages()|length != 0 ) %}
                        <img src="{{image(product.getProductImages()[0].getWebPath()).resize(50,50)}}"/>
                    {% else %}     
                        <img src="{{ asset('images/no_image.jpg')}}"/>
                    {% endif %}
                </div>
                <div class="right-side">
                    <div class="productName">
                        {{product.getName()}}
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    {% else %}
        <ul>Nincs találat!</ul>
    {% endif %}
    </ul>
</div>    