<table class="shared-table">
    <thead>
        <tr>
            {% set b = "asc" %}
            {% set active = ""%}  
            {% if order == "id" %}
                {% if by == "asc" %}
                    {% set b = "desc" %}
                {% else %}
                    {% set b = "asc" %}
                {% endif %}
                {% set active = "active"%}
            {% endif %}
            <th scope="col" class="{{active}}">        
                <a href="?page=1{{parameters}}&order=id&by={{b}}"  class="{{b}}">Id</a>
            </th>
            {% set b = "asc" %}
            {% set active = ""%}  
            {% if order == "name" %}
                {% if by == "asc" %}
                    {% set b = "desc" %}
                {% else %}
                    {% set b = "asc" %}
                {% endif %}
                {% set active = "active"%}
            {% endif %}
            <th scope="col" class="{{active}}">        
                <a href="?page=1{{parameters}}&order=name&by={{b}}"  class="{{b}}">Kategórianév</a>
            </th>
            <th scope="col">Slug</th>
            {% set b = "asc" %}
            {% set active = "" %}
            {% if order == "mainCategory" %}
                {% if by == "asc" %}
                    {% set b = "desc" %}
                {% else %}
                    {% set b = "asc" %}
                {% endif %}
                {% set active = "active"%}    
            {% endif %}
            <th scope="col" class="{{active}}">        
                <a href="?page=1{{parameters}}&order=mainCategory&by={{b}}" class="{{b}}">Főkategória</a> 
            </th>
            <th scope="col">Műveletek</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categorys %}
            <tr>
                <td>{{ category.getId() }}</td>
                <td>{{ category.getName() }}</td>  
                <td>{{ category.getSlug() }}</td>   
                <td>{{ category.mainCategory().getName() }}</td>                    
                <td class="product_edit_btn">
                    <a href="{{path('backend_admin_category_new',{'categoryId':category.getId()}) }}" class="menu_btn edit_btn">Szerkesztés</a>
                    <a href="#" class="deleteCategory menu_btn warning_btn delete_btn" categoryId="{{category.getId()}}">Törlés</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>