{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}

{% block title%} {{page_name}} - Rendelés {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
 {% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/frontendprofile/css/profile.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/frontendorder/css/Order.css') }}"/>
{% endblock %}
    
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.slimscrol.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontendorder/js/Order.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontendorder/js/OrderValidation.js') }}"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                $('#order-conditions').slimScroll({
                    height: '200px',
                    width: '770px',
                    disableFadeOut : true
                });
                Order.init();
                OrderValidation.init();
            });
    </script>
{% endblock %}
 
{% block main %}
    <div class="main">
        {% block leftSide %}                        
            {{parent()}}
        {% endblock %}        
        <div class="container">
            <div id="order-information">
                <h2 class="page-title">Rendelés leadása</h2>
                <form action="{{ path('frontend_cart_orders') }}" {{ form_enctype(ProfileForm) }} {{ form_enctype(orderForm) }} method="POST" id="order_edit_form" novalidate>
                    <div id="order-profile-data" class="order-information-boxes">
                        <h2 class="box-title">Személyes adatok</h2>
                        {{ form_label(ProfileForm.name, 'Név:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.name, { 'attr': {'class': 'validate[required] name'} } ) }}
                        {{ form_label(ProfileForm.email, 'Email cím:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.email, { 'attr': {'class': 'validate[required] email'}} ) }}
                        {{ form_label(ProfileForm.telephone, 'Telefonszám:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.telephone, { 'attr': {'class': 'validate[required] telephone'}} ) }}
                    </div>
                    
                    <div id="order-shipping-address" class="order-information-boxes">
                        <h2 class="box-title">Szállítási cím</h2>
                        {{ form_label(ProfileForm.shippingAddressCity, 'Település:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.shippingAddressCity, { 'attr': {'class': 'validate[required] shippingAddressCity'}} ) }}
                        {{ form_label(ProfileForm.shippingAddressStreet, 'Útca/út:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.shippingAddressStreet, { 'attr': {'class': 'validate[required] shippingAddressStreet'}} ) }}
                        {{ form_label(ProfileForm.shippingAddressStreetNumber, 'Házszám:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.shippingAddressStreetNumber, { 'attr': {'class': 'validate[required] shippingAddressStreetNumber'}} ) }}
                        {{ form_label(ProfileForm.shippingAddressZipCode, 'Irányítószám:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.shippingAddressZipCode, { 'attr': {'class': 'validate[required] shippingAddressZipCode'}} ) }}
                    </div>
                    
                    <div id="order-billing-address" class="order-information-boxes">
                        <h2 class="box-title">Számlázási cím</h2>
                        {{ form_label(ProfileForm.billingAddressCity, 'Település:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.billingAddressCity) }}
                        {{ form_label(ProfileForm.billingAddressStreet, 'Útca/út:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.billingAddressStreet) }}
                        {{ form_label(ProfileForm.billingAddressStreetNumber, 'Házszám:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.billingAddressStreetNumber) }}
                        {{ form_label(ProfileForm.billingAddressZipCode, 'Irányítószám:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(ProfileForm.billingAddressZipCode) }}
                    </div>
                    
                    <div id="shipping-option-box" class="order-information-boxes">
                        <h2 class="box-title">Szállítási mód</h2>
                        {% for option in orderForm.shippingOption%}										
                            {{ form_widget(option,{'attr': {'class': 'shippingOption  validate[required]'}}) }}
                            {{ form_label(option)}}										
                        {% endfor %}
                    </div>
                    <div id="payment-option-box" class="order-information-boxes">
                        <h2 class="box-title">Fizetési mód</h2>
                        {% for option in orderForm.paymentOption%}										
                                {{ form_widget(option,{'attr': {'class': 'paymentOption  validate[required]'}}) }}
                                {{ form_label(option)}}										
                        {% endfor %}	
                    </div>
                    <div id="order-comment-box" class="order-information-boxes">
                        <h2 class="box-title">Megjegyzés</h2>
                        {{ form_widget(orderForm.comment) }}
                    </div>
                    <div id="order-conditions-box" class="order-information-boxes">
                        <h2 class="box-title">Vásárlási feltételek</h2>
                        <div id="order-conditions">
                            {% include "FrontendOrderBundle:Order:orderConditions.html.twig" %}
                        </div>    
                        {{ form_widget(orderForm.acceptConditions, { 'attr': {'class': 'validate[required] acceptConditions'}} ) }}
                        {{ form_label(orderForm.acceptConditions, 'Feltételeket elfogadom', { 'label_attr': {'class': 'labelText'}}) }}
                    </div>
                                
                    <input type="submit" value="Tovább" class="ok-button"/>
                    {{ form_widget(orderForm._token) }}
                    {{ form_widget(ProfileForm._token) }}
                 </form>
            </div>
            
        </div>
    </div>    
{% endblock %}
                        