{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShopAdmin - Termékek {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">
        
        <table class="product_table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Terméknév</th>
                    <th scope="col">Ár</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Rövid leírás</th>
                    <th scope="col">Hosszabb leírás</th>
                    <th scope="col">Létrehozás dátuma</th>
                    <th scope="col">Frissítve</th>
                    <th scope="col">Műveletek</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.getId() }}</td>
                        <td>{{ product.getName() }}</td>
                        <td>{{ product.getPrice() }}</td>
                        <td>{{ product.getSlug() }}</td>
                        <td>{{ product.getShortDescription()}}</td>
                        <td>{{ product.getDescription()}}</td>

                        <td>{{ product.getCreatedAt()|date('Y-m-d')}}</td>
                        <td>{{ product.getUpdatedAt()|date('Y-m-d')}}</td>
                        <td>
                            <a href="{{path('backend_admin_product_new',{'productId':product.getId()}) }}">Szerkesztés<a/>
                            <a href="#" class="deleteProduct" productId="{{product.getId()}}">Törlése</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{path('backend_admin_product_new')}}">Új Termék<a/>
    </div>
<div class="deleteProductContent hide">
    Biztosan törölni szeretnéd ezt a terméket?
</div>     
{% endblock %}
                  