{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShopAdmin - Új Termék {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">        
        <form action="{{ path('backend_admin_product_new',{'productId':productId})}}" method="post" {{ form_enctype(form) }} name="newProduct"  class="newProduct">
            <table class="new_product_table">
                <tbody>
                    <tr>
                        <td>{{ form_label(form.name, 'Terméknév:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.name) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.price, 'Ár:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.price) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.slug, 'Slug:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.slug) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.shortDescription, 'Rövid leírás:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.shortDescription) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.description, 'Leírás:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.description) }}</td>
                    </tr>
                    <tr>
                        <td>Kategória:</td>
                        <td>
                            <select name="taxon" required="required">
                                <option value="0"></option>
                                {% for taxon in taxons %}
                                    <option value="{{taxon.getId()}}">{{taxon.getName()}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr >
                        <td colspan="2">
                            <input type="submit" value="Mentés" class="menu_btn ok_btn">
                            <input type="reset" value="Mégse" class="menu_btn warning_btn cancel_btn">
                        </td>
                    </tr>
                </tbody>
            </table>            
            {{ form_widget(form._token) }}
        </form>
        {% if (productId is defined and productId is not null)%}
            <div class="image_container">
                {% for img in product.getProductImages() %}
                         <img src="{{image(img.getWebPath()).zoomCrop(60,60)}} "/>
                {% endfor %}
            </div>
            <form class="uploadImageForm" method="POST" enctype="multipart/form-data" action="{{ path('backend_admin_product_upload_image',{'productId':productId}) }} ">            
                <input type="file" accept="image/*" name="uploadedImage">
                <button class="uploadImageButton" type="submit">Felföltés</button>
            </form>
        {% endif %}
    </div>
{% endblock %}