{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShopAdmin - Új Tulajdonság {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">   
        <h2>Tulajdonságok szerkesztése</h2>
         <form action="{{ path('backend_admin_product_property_edit',{'productPropertyId':productPropertyId, 'productId' : product.getId()})}}" method="post" {{ form_enctype(form) }} name="newProperty"  class="newProperty">
            <table class="new_property_table">
                <tbody>
                    <tr>
                        <td>{{ form_label(form.property, 'Tulajdonság neve:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.property, { 'attr': {'class': 'validate[required] ] propertyName'} }) }}</td>
                    </tr>  
                    <tr>
                        <td>{{ form_label(form.value, 'Tulajdonság értéke:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.value, { 'attr': {'class': 'validate[required] ] propertyValue'} }) }}</td>
                    </tr>
                    <tr >
                        <td colspan="2">
                            <input type="submit" value="Mentés" class="menu_btn ok_btn">
                            <input type="reset" value="Mégse" class="menu_btn warning_btn cancel_btn">
                        </td>
                    </tr>
                </tbody>
            </table>            
            {{ form_widget(form._token) }}
        </form> 
    </div>    
{% endblock %}