{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} {{page_name_admin}} - Új Termék {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block stylesheets %}  
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/backendadmin/css/summernote.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/backendadmin/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/backendadmin/css/Image.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/backendadmin/css/Product.css') }}"/>
    
            <link rel="stylesheet" href="{{ asset('bundles/backendlayout/css/bootstrap.css') }}"/>
{% endblock %}
    
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/backendadmin/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/backendadmin/js/summernote.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/backendadmin/js/ProductValidation.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/backendadmin/js/Product.js') }}"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                ProductValidation.init();
                Product.init();
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">
         <div class="upperMenu">
            <a href="{{path('backend_admin_product_new')}}" class="menu_btn">Új Termék</a>
        </div>
        <div class="product-edit-box" style='width:100%'>
            <h2>Termékek szerkesztése</h2>
            <form action="{{ path('backend_admin_product_new',{'productId':productId})}}" method="post" {{ form_enctype(form) }}  name="newProduct"  class="newProduct" autocomplete="off">
                <div class="new_product_table">
                    <div class="inline-block">
                        <div class="left-side">
                            {{ form_label(form.name, 'Terméknév*:', { 'label_attr': {'class': 'labelText'}}) }}
                            {{ form_widget(form.name, { 'attr': {'class': 'validate[required] profileName'} } ) }}                            
                        </div>  
                        <div class="right-side">
                            {{ form_label(form.slug, 'Slug:', { 'label_attr': {'class': 'labelText'}}) }}
                            {{ form_widget(form.slug) }}
                        </div>
                    </div>
                    <div class="inline-block">    
                        <div class="left-side">
                            {{ form_label(form.price, 'Bruttó ár*:', { 'label_attr': {'class': 'labelText'}}) }}       
                            {{ form_widget(form.price, { 'attr': {'class': 'validate[required, custom[number]] grossSalary'} }) }}                           
                        </div>
                        <div class="right-side">
                            {{ form_label(form.salesPrice, 'Akciós ár:', { 'label_attr': {'class': 'labelText'}}) }}       
                            {{ form_widget(form.salesPrice, { 'attr': {'class': 'salesPrice'} }) }}                           
                        
                        </div>
                    </div>
                    <div class="inline-block">    
                        <div class="left-side">
                           <label for="main-category-type"> Fő kategória*</label>
                            <select id="main-category-type" href="{{path('backend_admin_product_select_category_ajax')}}" class="validate[required]" name="main-category-type">
                                <option value=""></option>
                                {% for mainCategory in mainCategorys %}
                                    <option value="{{mainCategory.getId() }}"
                                        {% if currentMainCategoryId is not null and currentMainCategoryId == mainCategory.getId() %}
                                            selected
                                        {% endif %}>
                                        {{mainCategory.getName()}}
                                    </option>
                                {% endfor%}
                            </select>
                        </div>
                        <div id="category-box"  class="right-side">
                            {% if currentMainCategoryId is not null%}                            
                                {% include 'BackendAdminBundle:Product:categorysAjax.html.twig' with {'categorys' : categorys, 'currentCategoryId' : currentCategoryId} %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="inline-block">    
                        <div class="left-side">
                           {{ form_label(form.isActive, 'Aktív -e?', { 'label_attr': {'class': 'labelText'}}) }}
                           {{ form_widget(form.isActive) }}
                        </div>
                         <div class="right-side">
                            {{ form_label(form.inStock, 'Raktáron(db)*', { 'label_attr': {'class': 'labelText'}}) }}
                            {{ form_widget(form.inStock, { 'attr': {'class': 'validate[required, custom[number]] inStock'} }) }}       
                        </div>
                    </div> 
                    <div class="inline-block">    
                        <div>                            
                            {{ form_label(form.description, 'Leírás:', { 'label_attr': {'class': 'labelText'}}) }}
                            {{ form_widget(form.description, { 'attr': {'class': 'textEditor'} }) }}
                        </div>
                    <div class="inline-block center">
                        <div>
                                <input type="submit" value="Mentés" class="menu_btn ok_btn" id="new-product-save-button">
                                <input type="reset" value="Mégse" class="menu_btn warning_btn cancel_btn">
                        </div>
                    </div>    
                </div>            
                {{ form_widget(form._token) }}
            </form>
        </div>      
        
        {% if (productId is defined and productId is not null and product is not null)%}
            <div class="product-property-list-box">
               {{ render(controller("BackendAdminBundle:Product:propertyList" , {'productId':productId}))}}
           </div>
            <div class="product-image-box">
                <h2>Képek</h2>
                <a href="#productImages" name="productImages"></a>
                <div class="image_container">
                    {% include 'BackendAdminBundle:Product:productImageList.html.twig' %}  
                </div>
                <form class="uploadImageForm" method="POST" enctype="multipart/form-data" action="{{ path('backend_admin_product_upload_image',{'productId':productId}) }} ">            
                    <input type="file" accept="image/*" name="uploadedImage">
                    <button class="uploadImageButton" type="submit">Felföltés</button>
                </form>
            </div>  
        {% endif %}
          
        
    </div>

<div id="modal-delete-product-image" class="reveal-modal">
    <div class="formContent">
        <div class="topSection">
            <div class="modal-content">
                <h2>Biztosan törölni szeretnéd ezt a képet? </h2>
            </div>
        </div>
        <div class="bottomSection">
            <div class="inputs">
                <input type="button" class="delete-product-image-button" value="Törlés" href="{{path('backend_admin_product_image_remove')}}">
                <input type="button" class="cancel exit-reveal-modal" value="Mégse">                        
            </div>
        </div>
    </div>
</div>    
{% endblock %}
    