{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} {{page_name_admin}} - Új Tulajdonságok {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">   
        <h2>Tulajdonságok szerkesztése</h2>
         <form action="{{ path('backend_admin_product_property_edit',{'productPropertyId':productPropertyId, 'productId' : product.getId()})}}" method="post" {{ form_enctype(form) }} name="newProperty"  class="newProperty">
            <div class="new_property_table">
                <div class="inline-block">
                    <div class="left-side">
                        {{ form_label(form.property, 'Tulajdonság neve:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(form.property, { 'attr': {'class': 'validate[required] ] propertyName'} }) }}
                    </div> 
                    <div class="right-side">
                        {{ form_label(form.value, 'Tulajdonság értéke:', { 'label_attr': {'class': 'labelText'}}) }}
                        {{ form_widget(form.value, { 'attr': {'class': 'validate[required] ] propertyValue'} }) }}
                    </div>
                </div>
                <div class="inline-block">
                    <input type="submit" value="Mentés" class="menu_btn ok_btn">
                    <input type="reset" value="Mégse" class="menu_btn warning_btn cancel_btn">
                        
                </div>
            </div>            
            {{ form_widget(form._token) }}
        </form> 
    </div>    
{% endblock %}