{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShopAdmin - Termékek {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">
        <h2>Kategóriák</h2>
        <div class="upperMenu">
            <a href="{{path('backend_admin_category_new')}}" class="menu_btn">Új Kategória</a>
        </div>
        
        <table class="product_table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Kategórianév</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Leírás</th>
                    <th scope="col">Hivatkozási link</th>
                    <th scope="col">Műveletek</th>
                </tr>
            </thead>
            <tbody>
                {% for taxon in taxons %}
                    <tr>
                        <td>{{ taxon.getId() }}</td>
                        <td>{{ taxon.getName() }}</td>  
                        <td>{{ taxon.getSlug() }}</td>     
                        <td>{{ taxon.getDescription() }}</td>     
                        <td>{{ taxon.getPermalinks() }}</td>     
                        <td class="product_edit_btn">
                            <a href="{{path('backend_admin_category_new',{'taxonId':taxon.getId()}) }}" class="menu_btn edit_btn">Szerkesztés</a>
                            <a href="#" class="deleteTaxon menu_btn warning_btn delete_btn" taxonId="{{taxon.getId()}}">Törlés</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
<div class="deleteTaxonContent hide">
    Biztosan törölni szeretnéd ezt a terméket?
</div>     
{% endblock %}
                  