{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} Admin - Új Kategóriák {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">        
        <form action="{{ path('backend_admin_category_new',{'taxonId':taxonId})}}" method="post" {{ form_enctype(form) }} name="newTaxon"  class="newTaxon">
            <table class="new_product_table">
                <tbody>
                    <tr>
                        <td>{{ form_label(form.name, 'Kategórianév:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.name) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.slug, 'Slug:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.slug) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.description, 'Leírás:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.description) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(form.permalinks, 'Hivatkozás:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.permalinks) }}</td>
                    </tr>   
                    <tr>
                        <td>{{ form_label(form.taxonomy, 'Fő kategória:', { 'label_attr': {'class': 'labelText'}}) }}        </td>
                        <td>{{ form_widget(form.taxonomy) }}</td>
                    </tr>    
                    <tr >
                        <td colspan="2">
                            <input type="submit" value="Mentés" class="menu_btn ok_btn">
                            <input type="reset" value="Mégse" class="menu_btn warning_btn cancel_btn">
                        </td>
                    </tr>
                </tbody>
            </table>            
            {{ form_widget(form._token) }}
        </form>        
    </div>
{% endblock %}