{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShop - Kezdőlap {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/frontendproduct/js/Product.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/frontendcart/js/Cart.js') }}"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                Product.init();
                Cart.init();
            });
    </script>
{% endblock %}
 
{% block main %}
    <div class="main">
        {% block leftSide %}                        
            {{parent()}}
        {% endblock %}        
        <div class="container">
            <h2 class="page-title">Kosár</h2>
       
            <div id="cart-box">          
                <div class="top-section">
                    {% include 'FrontendCartBundle:Cart:cartItems.html.twig' with {'productsWithCount' : productsWithCount, 'cartCount': cartCount} %}
                            
                </div>
                <div class="bottom-section">                          
  
                    {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                        {% set isLoggedIn = 1 %}
                    {% else %}
                        {% set isLoggedIn = 0 %}
                    {% endif %}    
                    <a href="{{path('frontend_cart_orders')}}" class="menu_btn ok_btn" id="order-button" isLoggedIn="{{isLoggedIn}}" cartCount="{{cartCount}}">Megrendel</a>
                    <a href="" class="menu_btn ok_btn" id="cart_update_btn">Kosár frissítése</a>
                </div>
                           
            </div>
        
        </div>
    </div>    
            <div id="modal-empty-cart" class="reveal-modal">
                <div class="formContent">
                    <div class="topSection">
                        <div class="modal-content">
                            <h2>A kosarad üres!</h2>
                        </div>
                    </div>
                    <div class="bottomSection">
                        <div class="inputs">
                            <input type="button" class="cancel exit-reveal-modal" value="Ok">
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
                        