<div class="cart-items">
    {% set cartPrice = 0 %}
    {% if productsWithCount|length == 0 %}
        <div class="empty-cart-messages">
            Kosarad jelenleg üres! <a href="{{path('frontend_product_homepage')}}">Ide</a> kattintva új terméket rakhatsz a kosárba.
        </div>
    {% endif %}
    {% for productWithCount in productsWithCount %}
        {% if productWithCount[0].getSpecialOffer() is not null %}
            {% set price = productWithCount[0].getSpecialOffer().getNewPrice %}
        {% else%}
            {% set price = productWithCount[0].getPrice() %}
        {% endif %}
        <div class="cart-item">
             {% set cartPrice = cartPrice + price*productWithCount[1] %}
            <div class="column-0">
                        {% if ( productWithCount[0].getProductImages()|length != 0 ) %}
                            <img src="{{image( productWithCount[0].getProductImages()[0].getWebPath()).resize(100,100)}}"/>
                        {% else %}     
                            <img src="{{ asset('images/no_image.jpg')}}"/>
                        {% endif %}
            </div>
            <div class="column-1">
                <div class="product-information">
                    <div class="product-name">
                        {{ productWithCount[0].getName() }}
                    </div>
                    <div class="product-propertys">
                        <ul>
                            {% for productProperty in productWithCount[0].getProductPropertys()%}
                            <li>{{productProperty.getProperty().getName()}} : <span class="bold">{{productProperty.getValue()}}</span></li>
                            {% endfor %}   
                        </ul>
                    </div>
                </div>                                
            </div>
            <div class="column-2">
                {{ price|priceFormat }}
            </div>
            <div class="column-3">
                <input type="number" value="{{ productWithCount[1] }}" class="change-product-cart-count" productId="{{productWithCount[0].getId()}}" link="{{path('frontend_cart_update')}}"/>
                <a href="javascript:void(0)" productId="{{productWithCount[0].getId()}}" class="delete-product-from-cart" link="{{path('frontend_remov_from_cart')}}">Törlés</a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="cart-sum">
    Összesen: <span class="bold">{{cartCount}}</span> termék, ára: <span class="bold">{{cartPrice|priceFormat}} Ft</span>
</div>