{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% endblock fos_user_content %}


<form action="{{ path("fos_user_security_check") }}"  method="POST">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <table id="registration_table">
        <tr>
            <td>
                <label for="username">{{ 'security.login.username'|trans }}</label>
            </td>
            <td>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </td>    
        </tr>
        <tr>
            <td>
                <label for="password">{{ 'security.login.password'|trans }}</label>
            </td>
            <td>
                <input type="password" id="password" name="_password" required="required" />
            </td>    
        </tr>   
        <tr>
            <td>
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            </td>   
        </tr>   
        <tr>
            <td colspan="2">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </td> 
        </tr> 
    </table>
</form>
