<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('bundles/frontendlayout/css/reset.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/jquery.qtip.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/accordion.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/validationEngine-jquery.css') }}"/>
            

            <link rel="stylesheet" href="{{ asset('js/jquery-ui-1.10.4/css/smoothness/jquery-ui-1.10.4.custom.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/jquery-autocomplete.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/jquery-slider-min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/jquery-flexslider.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/reveal.css') }}"/>    
            <link rel="stylesheet" href="{{ asset('bundles/frontendproduct/css/product.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/frontendlayout/css/shared_logged.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/frontendcart/css/cart.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/frontendsearch/css/SharedSearch.css') }}"/>
        {% block head %}{% endblock %}
    </head>
    <body>
            {% block header %}
            {% endblock %}
            <div class="sf-reset">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
