<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>{% block title %}{% endblock %}</title>

            <link rel="stylesheet" href="{{ asset('bundles/backendlayout/css/reset.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/backendlayout/css/shared_logged.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/reveal.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/validationEngine-jquery.css') }}"/>
            
            <script type="text/javascript" src="{{ asset('js/jquery-2.1.0.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.reveal.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/JqueryValidationEngine-hu.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/JqueryValidationEngine.js') }}"></script>
            
            {% block stylesheets %}                
            {% endblock %}
              
            {% block javascripts %}
                    <script type="text/javascript" src="{{ asset('bundles/backendadmin/js/SharedModal.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('bundles/backendlayout/js/ImageUpload.js') }}"></script>
                    <script type="text/javascript">
                            $(document).ready(function(){
                                SharedModal.init();
                                ImageUpload.init();
                            });
                    </script>
            {% endblock %}
            <link rel="shortcut icon" href="{{ asset('bundles/frontendlayout/images/favicon.ico') }}" />
        {% endblock %}
    </head>
    <body {% block bodyClass %}{% endblock%}>
        {% block body %}
            {% block header %}
                {{ render(controller("BackendLayoutBundle:Default:header"))}}
            {% endblock %}
            {% block mainContent %}	
                <div class="maincontent">
                    <div class="wrapper">
                        {% block sidebar %}
                            {% include ("BackendLayoutBundle:Default:sidebar.html.twig") %}
                        {% endblock %}
                        {% block main %}

                        {% endblock %}	
                    </div>
                </div>	
            {% endblock %}            
        {% endblock %}
    </body>
</html>
