<div class="sidebar">
    <ul>
        <li class="menuItem">
            <a href="{{path('backend_admin_product')}}">Termékek</a>
        </li>
        
        <li class="menuDivideItem"></li>
        
        <li class="menuItem">
            <a href="{{path('backend_admin_main_category')}}">Fő kategóriák</a>
        </li>
        <li class="menuItem">
            <a href="{{path('backend_admin_category')}}">Kategóriák</a>
        </li>
        
        <li class="menuDivideItem"></li>
        
        <li class="menuItem">
            <a href="{{path('backend_admin_user')}}">Felhasználók</a>
        </li>
        
        <li class="menuDivideItem"></li>
        
        <li class="menuItem">
            <a href="{{path('backend_admin_order_list')}}">Rendelések</a>
        </li>
    </ul>
</div>