{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShopAdmin - Felhasználók {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">
        <h2>Felhasználók</h2>
        <div class="upperMenu">
            <a href="{{path('backend_admin_user_new')}}" class="menu_btn">Új Felhasználó</a>
        </div>
        
        <table class="product_table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Felhasználói név</th>
                    <th scope="col">Email</th>
                    <th scope="col">Utolsó bejelentkezés</th>
                    <th scope="col">Admin jog</th>
                    <th scope="col">Műveletek</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.getId() }}</td>
                        <td>{{ user.getUserName() }}</td> 
                        <td>{{ user.getEmail() }}</td>
                        <td>{{ user.getLastLogin()|date('Y-m-d') }}</td> 
                        <td>
                            {% for role in user.getRoles() %}
                                {%if role == "ROLE_ADMIN" %}
                                    Van
                                {% endif %}
                            {% endfor %}
                        </td> 
                        <td class="product_edit_btn">
                            <a href="{{path('backend_admin_user_new',{'userId':user.getId()}) }}" class="menu_btn edit_btn">Szerkesztés</a>
                            <a href="#" class="deleteUser menu_btn warning_btn delete_btn" userId="{{user.getId()}}">Törlés</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
<div id="modal-delete-user" class="reveal-modal">
    <div class="formContent">
        <div class="topSection">
            <div class="modal-content">
                <h2>Biztosan törölni szeretnéd ezt a felhasználót? </h2>
            </div>
        </div>
        <div class="bottomSection">
            <div class="inputs">
                <input type="button" class="delete-user-button" value="Törlés" href="{{path('backend_admin_user_remove')}}">
                <input type="button" class="cancel exit-reveal-modal" value="Mégse">                        
            </div>
        </div>
    </div>
</div>    
{% endblock %}
                  