{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} Admin - Új Felhasználók {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/backendadmin/css/User.css') }}"/>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">  
        <div class="user-edit-box">
            <form action="{{ path('backend_admin_user_new',{'userId':userId})}}" method="post" {{ form_enctype(form) }} name="newUser"  class="newUser" autocomplete="off">
                {% set disabled =( userId is defined and userId is not null and myUser.getId() != userId ) %}
                <h2>Felhasználói adatok</h2>
                <div class="inline-block">
                    {{ form_label(form.username, 'Felhasználóinév:', { 'label_attr': {'class': 'labelText'}}) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="inline-block">
                    {{ form_label(form.email, 'Email:', { 'label_attr': {'class': 'labelText'}}) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="inline-block">
                    {{ form_label(form.password, 'Jelszó:', { 'label_attr': {'class': 'labelText'}}) }}
                    {{ form_widget(form.password, {'attr': {'disabled': disabled }}) }}
                </div>
                <div class="inline-block">    
                    {{ form_label(form.enabled, 'Engedélyezve:', { 'label_attr': {'class': 'labelText'}}) }}
                    {{ form_widget(form.enabled) }}
                </div>
                <div class="inline-block">
                    {{ form_label(form.isAdmin, 'Admin jog:', { 'label_attr': {'class': 'labelText'}}) }}
                    {{ form_widget(form.isAdmin) }}
                </div>
                <div class="inline-block">
                    <input type="submit" value="Mentés" class="menu_btn ok_btn">
                    <input type="reset" value="Mégse" class="menu_btn warning_btn cancel_btn">
                </div>
                               
                {{ form_widget(form._token) }}
            </form>
        </div>
        {% if userId is not null %}
            <div class="user-profile-edit-box">
                   {{ render(controller("BackendAdminBundle:User:profileEdit" , {'userId':userId}))}}
            </div>
        {% endif %}
    </div>
{% endblock %}