<div class="header">
    <div class="wrapper">
		<div id="logo">
				<a href="#"></a>
		</div>
        <div class="group_left">
                {% include 'FrontendSearchBundle:Default:mainSearch.html.twig' %}
        </div>
        <div class="group_right">
			<ul>
                                <li id="compare-product">
                                    <a href="">
                                        <div id="compare-product-icon"></div>
                                        <span>Összehasonlítás</span>
                                    </a>
				</li>
				<li id="cart">
                                    <a href="{{path('frontend_cart')}}">
                                        <div id="cart_icon"></div>
                                        <span>Kosár</span>
                                        <div id="cart-count">{{cartCount}}</div>
                                    </a>
				</li>
				
				{% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                                    <li id="my_profile">
                                        <a href="#">
                                                <div id="profile_icon"></div>
                                                <span id="my-profile-text">Profilom</span>
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li id="admin">
                                            <a href="{{ path('backend_admin_homepage') }}">
                                                    <span>Admin</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {#<li id="logout">
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                    <div id="logout"></div>
                                                    <span>Kilépés</span>
                                            </a>
                                    </li>#}
				{% else %}
					<li class="login-sign-in">
						<a href="javascript:void(0)">
							<div id="sign_in"></div>
							<span>Bejelentkezés/Regisztráció</span>
						</a>
					</li>
				{% endif %}	
			</ul>
        </div>
        <div id="myprofileDropDown" class="hide">
            <div class="myprofileDropDownContent">
                <ul>
                    <li><a href="{{ path('frontend_profile_edit') }}">Személyes adataim</a></li>
                    <li><a href="javascript:void(0)" class="new-password-link">Új jelszó</a></li>
                    <li class="menuDivider"></li>
                    <li><a href="{{ path('frontend_profile_my_orders') }}">Rendeléseim</a></li>
                    <li class="menuDivider"></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Kijelentkezés</a>
                    </li>                
                </ul>
            </div>    
        </div>
        
        <div id="modal-sign-in" class="reveal-modal">
            <div class="formContent">
                {% include 'FrontendUserBundle:Login:loginModal.html.twig' %}
                 
            </div>
        </div>
        
        <div id="modal-registration" class="reveal-modal">
            <div class="formContent">
                {% include 'FrontendUserBundle:Registration:registrationModal.html.twig' %}  
            </div>
        </div>
        
        <div id="modal-password-resetting" class="reveal-modal">
            <div class="formContent">
                {% include "FrontendUserBundle:Reset:resetEmailModal.html.twig" %}
            </div>
        </div>
        
                

    </div>
</div>
