<div class="header">
    <div class="wrapper">
		<div id="logo">
				<a href="#"></a>
		</div>
        <div class="group_left">			
            <div class="searcher_box">
                <input type="text" class="searcher" placeholder="Mit keresel?">
                <input type="button" class="search_button" value="&nbsp">
            </div>
        </div>
        <div class="group_right">
			<ul>
				<li id="cart">
					<a href="{{path('frontend_cart')}}">
						<div id="cart_icon"></div>
						<span>Kosár</span>
                                                <div id="cart_count">{{cartCount}}</div>
					</a>
				</li>
				
				{% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
					<li id="my_profile">
						<a href="#">
							<div id="profile_icon"></div>
							<span id="my_profile_text">Profilom</span>
						</a>
					</li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li id="admin">
						<a href="{{ path('backend_admin_homepage') }}">
							<span>Admin</span>
						</a>
                                            </li>
                                        {% endif %}
					{#<li id="logout">
						<a href="{{ path('fos_user_security_logout') }}">
							<div id="logout"></div>
							<span>Kilépés</span>
						</a>
					</li>#}
				{% else %}
					<li id="login_sign_in">
						<a href="{{ path('frontend_login') }}">
							<div id="sign_in"></div>
							<span>Bejelentkezés/Regisztráció</span>
						</a>
					</li>
				{% endif %}	
			</ul>
        </div>
        <div id="myprofileDropDown" class="hide">
            <div class="myprofileDropDownContent">
                <ul>
                    <li><a href="{{ path('frontend_profile_edit') }}">Személyes adataim</a></li>
                    <li><a href="#">Rendeléseim</a></li>
                    <li class="menuDivider"></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Kijelentkezés</a>
                    </li>                
                </ul>
            </div>    
        </div>
        <div id="registrationContent" class="hide">
            {% render controller('FOSUserBundle:Registration:register') %}
        </div>
        <div id="loginContent" class="hide">
            {% render controller('FOSUserBundle:Security:login') %}
        </div>
    </div>
</div>
