<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>{% block title %}{% endblock %}</title>

            <link rel="stylesheet" href="{{ asset('bundles/frontendlayout/css/reset.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/accordion.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/frontendlayout/css/shared_logged.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/frontendcart/css/cart.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/frontendsearch/css/SharedSearch.css') }}"/>
            <link rel="stylesheet" href="{{ asset('js/jquery-ui-1.10.4/css/smoothness/jquery-ui-1.10.4.custom.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/jquery-autocomplete.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/frontendproduct/css/product.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/validationEngine-jquery.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/reveal.css') }}"/>
             
            <script type="text/javascript" src="{{ asset('js/jquery-2.1.0.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.reveal.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.qtip.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery-autocomplete.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/accordion.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontendlayout/js/Shared.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontendsearch/js/SharedSearch.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontendprofile/js/Profile.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/JqueryValidationEngine-hu.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/JqueryValidationEngine.js') }}"></script>           
            
            <script type="text/javascript">
                    $(document).ready(function(){
                        Shared.init();
                        SharedSearch.init();
                        Profile.init();
                        //$( "#leftMenu" ).accordion();
                    });
            </script>
            {% block stylesheets %}
            {% endblock %}
              
            {% block javascripts %}
            {% endblock %}
            <link rel="shortcut icon" href="{{ asset('bundles/frontendlayout/images/favicon.ico') }}" />
        {% endblock %}
    </head>
    <body {% block bodyClass %}{% endblock%}>
        {% block body %}
            {% block bodyStart %}
            {% endblock %}

            {% block header %}
                {{ render(controller("FrontendLayoutBundle:Default:header"))}}
            {% endblock %}
            	
            {% block mainContent %} 
                {% block main %}
                    {% block leftSide %}                        
                        {% render (controller("FrontendProductBundle:Default:sidebar")) %}
                    {% endblock %}
                {% endblock %}
            {% endblock %}
            <div class="clear"></div>
            {% block footer %}	
                {{ render(controller('FrontendLayoutBundle:Default:footer'))}}
            {% endblock %}
        {% endblock %}
    </body>
</html>
