<table class="shared-table">
    <thead>
        <tr>
            
                {% set b = "asc" %}
                {% set active = ""%}  
                {% if order == "id" %}
                    {% if by == "asc" %}
                        {% set b = "desc" %}
                    {% else %}
                        {% set b = "asc" %}
                    {% endif %}
                    {% set active = "active"%}
                {% endif %}
            <th scope="col" class="{{active}}">        
                <a href="?page=1{{parameters}}&order=id&by={{b}}"  class="{{b}}">Id</a>
            </th>
            
            {% set b = "asc" %}
            {% set active = "" %}
            {% if order == "name" %}
                {% if by == "asc" %}
                    {% set b = "desc" %}
                {% else %}
                    {% set b = "asc" %}
                {% endif %}
                {% set active = "active"%}    
            {% endif %}
            <th scope="col" class="{{active}}">        
                <a href="?page=1{{parameters}}&order=name&by={{b}}"  class="{{b}}">Tulajdonságnév</a>                
            </th>
            
            {% set b = "asc" %}
            {% set active = "" %}
            {% if order == "mainCategory" %}
                {% if by == "asc" %}
                    {% set b = "desc" %}
                {% else %}
                    {% set b = "asc" %}
                {% endif %}
                {% set active = "active"%}    
            {% endif %}
            <th scope="col" class="{{active}}">        
                <a href="?page=1{{parameters}}&order=mainCategory&by={{b}}" class="{{b}}">Főkategória</a> 
            </th>
            <th scope="col">Rendezési sorrend</th>
            <th scope="col">Műveletek</th>
        </tr>
    </thead>
    <tbody>
        {% for property in propertys %}
            <tr>
                <td>{{ property.getId() }}</td>
                <td>{{ property.getName() }}</td>  
                <td>{{ property.getMainCategory().getName() }}</td>
                <td>{{ property.getOrderValue() }}</td>
                <td class="product_edit_btn">
                    <a href="{{path('backend_admin_property_new',{'propertyId':property.getId()}) }}" class="menu_btn edit_btn">Szerkesztés</a>
                    <a href="#" class="deleteProperty menu_btn warning_btn delete_btn" propertyId="{{property.getId()}}">Törlés</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>