<div class="sidebar ">
    <div id="leftMenu">
        {% for mc in main_category %}                 
            <ul class="taxon">
                <li>
                    <a href="{{path('frontend_product_homepage')}}t/{{mc.getName()}}/">{{mc.getName()}}</a>
                </li>
            </ul>
                     <ul class="taxonomy"> 
                         {% for category in mc.getCategory() %}
                            <li>
                                <a href="{{path('frontend_product_homepage')}}t/{{category.getMainCategory().getName()}}/{{category.getSlug()}}">
                                 {{category.getName()}} 
                                </a>
                            </li>
                         {% endfor %}   
                    </ul> 
        {% endfor %}
    </div> 
</div>